#wpbody-content {
    max-width: 600px;
}

.exobForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 20px;
}

.sites {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.siteSpoiler {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px 0;
    padding: 8px;
}

.siteSpoiler h4 {
    cursor: pointer;
    margin: 0;
}

.copyInput {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.exobSuccess {
    color: green;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    display: none;
}

.categorySelectBox > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 0;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 7px;
}

.categorySelectBox > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.categorySelectBox div > input {
    width: 100%;
}

.categorySelectBox div > input.categorySlug,
.categorySelectBox div > input.categoryAuthorSearch,
.categorySelectBox div > select {
    width: 49.5%;
}


.removeAttr {
    display: block;
    min-width: 20px;
    min-height: 20px;
    background: url("../img/delete.svg") no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin-left: 10px;
}

#exobGlobalSettings {
    display: flex;
    flex-direction: column;
}

.exobButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#exobGlobalSettings .successSave {
    margin-top: 6px;
    text-align: center;
}

#exobGlobalSettings h4 {
    margin-bottom: 5px;
}

.inlineLabel {
    display: inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 22px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

#randomAuthors {
    display: flex;
    flex-direction: column;
}
#randomAuthors.hidden {
    display: none;
}
#randomAuthors > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#randomAuthors > div:first-child * {
    width: 49%;
}
#randomAuthors > div > div {
    width: 49%;
}
.authorsList > div,
#randomAuthors input{
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.authorsList {
    height: auto;
    max-height: 220px;
    overflow: auto;
}
.authorsList > div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.authorsList > div:hover {
    background-color: #c1c1c1;
}

.lds-dual-ring {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 5px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 23px;
    height: 23px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #c1c1c1 transparent #c1c1c1 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loadSpinBlock {
    display: flex;
    justify-content: center;
}
.exobCategoryOptions {
    margin-top: 5px;
}
.exobCategoryOptions.hide {
    display: none;
}
.exobCategoryTitle {
    cursor: pointer;
    margin: 0;
}
.categorySelectBox .exobCategoryBlock {
    flex-wrap: nowrap;
}
.exobCategoryBlock .exobCategoryTitle {
    width: 100%;
}